<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">

<f:flashMessages />

<f:widget.paginate objects="{gifts}" as="paginatedGitfs" configuration="{itemsPerPage: settings.giftsPerPage insertAbove: 1 insertBelow: 0}">
<table  class="tx_cbwishlist" >
	<tr>
		<th><f:translate key="tx_cbwishlist_domain_model_gift.name" /></th>
		<th><f:translate key="tx_cbwishlist_domain_model_gift.price" /></th>
		<th></th>
	</tr>

	<f:for each="{paginatedGitfs}" as="gift">
		<tr>
			<td><f:link.action action="show" arguments="{gift : gift}"> {gift.name}</f:link.action></td>
			<td>{gift.price}</td>
			<f:if condition="{gift.reservedby} != ''">
				<f:then>
					<td><f:translate key="reserved" /></td>
				</f:then>
				<f:else>
					<td>
					  <f:if condition="{settings.selfReservation}">
					    <f:then>
					      <f:link.action action="reserve" arguments="{gift: gift}"><f:translate key="give.away" /></f:link.action>
					    </f:then>
					    <f:else>
					      <f:translate key="give.away" />
					    </f:else>
					  </f:if>
					</td>
				</f:else>
			</f:if>
		</tr>
	</f:for>
</table>
</f:widget.paginate>

</f:section>
