<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
<f:flashMessages />

<table  class="tx_cbwishlist" >
	<tr>
		<th><f:translate key="tx_cbwishlist_domain_model_gift.name" /></th>
		<th><f:translate key="tx_cbwishlist_domain_model_gift.price" /></th>
		<th><f:translate key="tx_cbwishlist_domain_model_gift.description" /></th>
		<th> </th>
		<th> </th>
	</tr>

	<f:for each="{gifts}" as="gift">
		<tr>
			<td><f:link.action action="show" arguments="{gift : gift}"> {gift.name}</f:link.action></td>
			<td><f:link.action action="show" arguments="{gift : gift}"> {gift.price}</f:link.action></td>
			<td><f:link.action action="show" arguments="{gift : gift}"> {gift.description}</f:link.action></td>
		</tr>
	</f:for>
</table>

</f:section>
