<table class="tx-cb-wishlist" >
	<tr>
		<td>
			<f:translate key="tx_cbwishlist_domain_model_gift.name" />
		</td>
		<td>
			{gift.name}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_cbwishlist_domain_model_gift.price" />
		</td>
		<td>
			{gift.price}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_cbwishlist_domain_model_gift.description" />
		</td>
		<td>
			<f:format.html parseFuncTSPath="lib.parseFunc">{gift.description}</f:format.html>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_cbwishlist_domain_model_gift.image" />
		</td>
		<td>
			<f:image src="{settings.pathToWishlistImage}/{gift.image}" width="200" alt="" />
		</td>
	</tr>
</table>
